@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Poppins", sans-serif;
}
.dashContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    font-size: 35px;
    color: #133e87;
}
h3{
    font-weight: 800;
    color: #133e87;
}
label{
    font-weight: 800;
    color: #133e87;
}
.dashSidebar{
    display: flex;
    width: 5%;
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 150px;
    top: 130px;
    border-radius: 50px;
    background-color: #cbdceb;
    gap: 100px;
}


.dashSidebar i{
    font-size: 45px;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}

.dashSidebar i:hover{
    color: #133e87;
    transform: scale(1.1); 
} 

.dashContent{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 80px;
    top: 70px;
    width: 110%;
    border-radius: 40px;
    height: auto;
    background-color: #ecede9;
    
}

.dashInput input{
    border: none;
    padding: 5px;
    width: 300px;
    margin-block: 10px;
    background-color:#fcfcfc;
    border-radius: 5px;
}

.formContent{
    display: flex;
    flex-direction: column;
    width: 44%;
}

.dashDestination{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
}

.dashImage img{
    width: 30%;
    position: absolute;
    left: 900px;
    top: 20px;
    border: none;
} 


.dashInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.flyingInput{
    display: flex;
    flex-direction: row;
    margin-block: 30px;
}

.fromInput{
    display: flex;
    flex-direction: column;
}


.toInput{
    display: flex;
    flex-direction: column;
    margin-inline: 135px;
}

.dateInput{
    display: flex;
    flex-direction: row;
}

.departDate{
    display: flex;
    flex-direction: column;
}
.returnDate{
    display: flex;
    flex-direction: column;
    margin-inline: 140px;
}
.flightContainer{
    margin-block: 30px;
}
.dashPassenger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dashClass{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 76%;
}
.passInput{
    display: flex;
    flex-direction: column;    
}

.passInput input{
  border: none;
    padding: 5px;
    width: 300px;
    margin-block: 10px;
    background-color:#fcfcfc;
    border-radius: 5px;
    margin-top: 10px;
}
.flightBtn{
    width: 100%;
    margin-left: 700px;
    margin-top: 30px;
}
.flightBtn button{
    background-color: #133e87;
    border-style: none;
    color: #fff;
    width: 200px;
    padding: 5px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease; 
}
.flightBtn button:hover{
    color: black;
    background-color: #053ea1;
    transform: scale(1.1); 
}
#dashboard {
    display: flex;
}

#dashboard h3{
    display: flex;
    justify-content: center;
    margin-top: 60px;
color: #053ea1;
}
.flightType{
    margin-top: 80px;
}
.dashContent1 {
    flex: 1;
    padding: 10px;
    margin-top: 70px;
    margin-left: 150px;
    background-color: #ffffff;
}


.flightCard {
    background-color: #f5f7fa;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    width: 1500px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.flightInfo1 {
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 30px;
    font-size: 18px;
    color: #123e86;
}

.flightInfo1 p{ 
    color: #053ea1;
}
.classFlight{
    padding-block: 30px;
    color: #053ea1;
}
.classFlight p{
    display: flex;
    flex-direction: column;
}

.availSets{
    padding-block: 30px;
    color: #053ea1;
}
.availSets p{
    display: flex;
    flex-direction: column;
}
.terminalNo p{
    display: flex;
    flex-direction: column;
}
.promoDiscount{
    padding-block: 30px;
    color: #053ea1;
}
.promoDiscount p{
   display: flex;
   flex-direction: column;
}
.ticketPrice{
    padding-block: 30px;
    color: #053ea1;
}
.ticketPrice p{
    display: flex;
    flex-direction: column;
}


.time {
    font-size: 24px;
    color: #123e86;
    font-weight: bold;
}

.highlight {
    color: #123e86;
    font-weight: bold;
}

.promo {
    font-weight: bold;
    color: #123e86;
}

.flightCard1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #f5f7fa;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    width: 1500px;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 30px;
}

.flightInfo2 {
    padding: 30px;
}

.flightInfo2 p {
    font-size: 18px;
    color: #053ea1;
}

.flightInfo2 h4 {
    font-size: 18px;
    color: #083579;
    margin: 5px 0 0;
}


.highlight {
    color: #083579;
    font-weight: bold;
}

.promo {
    color: #083579;
    font-weight: bold;
}

.price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}


/* profile */
.passengerDetails{
    color: #053ea1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    right: 450px;
    top: 50px;
    padding: 20px;
    background-color: #ecede9;
}

.passengerCard{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.passengerName{
    display: flex;
    flex-direction: column;

}
.passengerName input{
    width: 250px;
    height: 3vh;
    border-style: none;
    border-radius: 5px;

}
.birthDate{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.birthDate input{
    width: 250px;
    height: 3vh;
    border-style: none;
    color: #838282;
    border-radius: 5px;
}
.passengerAddress{
    display: flex;
    flex-direction: column;
}
.passengerAddress input{
    width: 500px;
    height: 3vh;
    border-style: none;
    border-radius: 5px;
}
.contactNo{
    display: flex;
    flex-direction: column;
}
.contactNo input{
    width: 250px;
    height: 3vh;
    border-style: none;
    border-radius: 5px;
}
.genderType{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.gender{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.genderChoice{
    margin-top: 7px;
    gap: 30px;
}
.proceedButton{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 170px;
    right: 800px;
}
.proceedButton button{
    border-style: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: #133e87;
    transition: color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}
.proceedButton button:hover{
    color: #000000; 
    transform: scale(1.1); 
}