@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}

.bodyContent{
    max-width: 1900px;
    height: 99vh;
}

.logoIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
    right: 790px;
}

.logoIndex img {
    width: 5%; 
    height: auto;
}
.logoIndex h2{
    position: relative;
    left: 5px;
    font-family: "Poppins", sans-serif;
    color: #133e87;
}
.userIcon {
    font-size: 40px;
    color: #133e87;
    z-index: 1;
    position: relative;
    bottom: 18px;
    float: right;
    right: 100px;
    cursor: pointer;
}
.indexContainer{
    height: 88vh;
}
.content{
    display: block;
    justify-content: center;
    align-items: center;
    width: 39%;
    height: 50vh;
    position: relative;
    top: 150px;
    left: 170px;
    z-index: 1;
}

.content h1{
    color: #133e87;
    font-size: 50px;
    font-weight: 2000;
    font-family: "Poppins", sans-serif;
}

.content p{
    position: relative;
    top: 20px;
    color: #133e87;
    font-size: 24px;
    line-height: 40px;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}

.btnBook {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    right: 265px;
}

.btnBook button {
    background-color:#133e87;
    color: white; 
    font-size: 20px; 
    font-weight: 900;
    padding: 12px 24px; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}

.btnBook button:hover {
    background-color: #1b59c4;
    color: rgb(0, 0, 0); 
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
.btnBook i{
    position: relative;
    top: 3px;
    font-size: 24px;
}

.bodyImage{
    position: relative;
    bottom: 400px;
    left: 900px;
    max-width: 900px;
}

.bodyImage img{
    width: 100%;
    height: auto;
}

.socialIcon {
    max-width: 5%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative;
    bottom: 380px;
    left: 1750px;
    gap: 15px; 
}

.socialIcon i {
    font-size: 24px; 
    color: #133e87; 
    transition: color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}

.socialIcon i:hover {
    color: #000000; 
    transform: scale(1.1); 
}

